---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="top-link"><a href="/blog"><img style="border:none;box-shadow:none" src="/assets/images/articles.png"/></a></div>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta" style="color:#808080">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.date_format | default: "%Y-%m-%d %H:%M" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div>
    <p style="color:#a0a0a0">日々の活動は<a href="https://tsubakicraft.wordpress.com" target="_blank">工房のブログ『工房便り』</a>で発信しています。</p>
  </div>
</article>
